.logoTipoNightFun{
    text-align: center;
   
}
.image0{
    height: 100px;
    width: 500px;
}
.information{

    display:block
}
p{
    text-align: center;
}



.home{
    padding: 2rem;
}
img{
    max-height:500px;
    /* max-width:500px;
    height:auto;
    width:auto; */
}
.lista{
    min-height: 300px;
}

.Card{
    width: '80%';
    margin:2rem;
}

.footer{
    text-align: center;
}
.image1{
    height: 40px;
    width: 120px;
}

.public{
    height:30px;
    width: 80px;
    
}





.container {
    max-width: 640px;
    margin: 30px auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
}

.comment {
    display: block;
    transition: all 1s;
}
.commentClicked {
    min-height: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px
}


.container textarea {
    width: 100%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #016BA8;
    transition: all 0.5s;
    margin-top: 15px;
}

button.primaryContained {
    background: #016ba8;
    color: #fff;
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 1s all;
    font-size: 10px;
    border-radius: 5px;
}


button.primaryContained:hover {
    background: #9201A8;
}

#res {
    border: 1px solid #E4E4E4;
    padding: 20px; 
    width: 140px;
    height: 20px;
    resize: both;
    overflow: auto;
  }