.Login {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .Login-logo {
    animation: Login-logo-spin infinite 20s linear;
  }
}
.Login-header {
  background-image: url(../../Assets/imagemDeFundo.png); /*arquivo onde está a imagem */
  background-repeat: no-repeat;  /* para a imagem não se repetir na tela, para se ajustar ao tamanho de cada janela de monitor*/
  background-attachment: fixed; /* para a imagem não possuir rolagem, a rolagem é fixa.*/
  background-size:100%; /*Para a imagem se ajustar ao tamanho de qualquer tela tela */
  position:relative; /* posição fixa para que a possível rolagem da tela não revele espaços em branco */
  /*position: relative;   /* criamos um contexto para posicionamento */
  /*overflow: hidden;     /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center; para ajustar o conteúdo ao centro*/
  font-size: calc(20px + 2vmin);
  color:black;
}
.Login-link {
  color: #61dafb;
}
@keyframes Login-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.slow {
  
  text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
  color:#4169E1;
  font-family: 'Times New Roman';
  overflow: hidden; /* Garante que o conteúdo não seja revelado até a animação */
  white-space: nowrap; /* Mantém o conteúdo em uma única linha */
  margin: 0 auto; /* Dá aquele efeito de rolagem conforme a digitação acontece */
  letter-spacing: .15em; /* Ajuste conforme necessário*/
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
/* O efeito de digitação */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
p {
  font-size: clamp(1em, 1em + 1vw, 1.5em); /* Esse código define a linha do parágrafo responsivo   */
}
 .Login-logo{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  text-shadow: 1vw 1vw 1vw #000, 0 0 3vw #ff005b, 0 0 3vw #ff005b;
 }

.FacebookLogin{
  right: 50%;
  bottom:50%;
}