
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url(./imagemDeFundo.png); /*arquivo onde está a imagem */
  background-repeat: no-repeat;  /* para a imagem não se repetir na tela, para se ajustar ao tamanho de cada janela de monitor*/
  background-attachment: fixed; /* para a imagem não possuir rolagem, a rolagem é fixa.*/
  background-size:100%; /*Para a imagem se ajustar ao tamanho de qualquer tela tela */
  position:relative; /* posição fixa para que a possível rolagem da tela não revele espaços em branco */
  /*position: relative;   /* criamos um contexto para posicionamento */
  /*overflow: hidden;     /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center; para ajustar o conteúdo ao centro*/
  font-size: calc(20px + 2vmin);
  color:black;
}

.App-link {
  color: #61dafb;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
